<footer>
    <p>Mathieu Davy 2011 - <%= Time.now.year %></p>
    <p><b>Sun</b> Calulating sunrise, sunset and equinoxes</p>
    <p>This code is based on the work of Dr Louis Strous at <a target="_blank" href="http://www.astro.uu.nl/~strous/AA/en/index.html">http://www.astro.uu.nl/~strous/AA/en/index.html</a></p>
    <p>Specifically, these calculations implement his equations and use his constant values found at <a target="_blank" href="http://www.astro.uu.nl/~strous/AA/en/reken/zonpositie.html">http://www.astro.uu.nl/~strous/AA/en/reken/zonpositie.html</a></p>
</footer>