<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">

	<title>Sun: Calulating sunrise, sunset and soon, equinoxes</title>
	<meta name="description" content="Calulating sunrise, sunset and soon, equinoxes">
	<meta name="author" content="Mathieu Davy">

	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">

	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/js/Utils.js"></script>
	<script type="text/javascript" src="/js/Sun.js"></script>
	<script type="text/javascript" src="/js/playground_script.js"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="/js/yqlgeo.js"></script><![endif]-->
	
	<style type="text/css" media="all">@import "/css/playground.css";</style>
	<!--[if lte IE 6]><style type="text/css" media="all">@import "/css/ie6.css";</style><![endif]-->
	<!--[if IE 7]><style type="text/css" media="all">@import "/css/ie7.css";</style><![endif]-->
</head>