<ul class="results">
	<li class="dawn"><p>Dawn: </p><span class="sunRiseNauticalTwilightDate"></span></li>
	<li class="sunrise"><p>Sunrise: </p><span class="nextCalendarDayRise"></span></li>
	<li class="noon"><p>Solar noon: </p><span class="daySolarTransitFull"></span></li>
	<li class="sunset"><p>Sunset: </p><span class="nextCalendarDaySet"></span></li>
	<li class="dusk"><p>Dusk: </p><span class="sunSetNauticalTwilightDate"></span></li>
</ul>