<div class="timeline clearfix">
	<div class="night morning"></div>
	<div class="dawn"></div>
	<div class="day"></div>
	<div class="dusk"></div>
	<div class="night evening"></div>
	<div class="marker"></div>
</div>

<ul class="results">
	<li class="dawn"><p>Dawn: </p><span class="sunRiseCivilTwilightDate"></span></li>
	<li class="sunrise"><p>Sunrise: </p><span class="nextCalendarDayRise"></span></li>
	<li class="noon"><p>Solar noon: </p><span class="daySolarTransitFull"></span></li>
	<li class="sunset"><p>Sunset: </p><span class="nextCalendarDaySet"></span></li>
	<li class="dusk"><p>Dusk: </p><span class="sunSetCivilTwilightDate"></span></li>
</ul>